.home-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
.video-player-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
   .selectedCharacter img{
    position: absolute;
    width: 110px;
    height: 99px;
    right: -2180px;
    bottom: 200px;
    object-fit: cover;
    border-radius: 50%;
  }
  .fixed_guide img{
    position: absolute;
    width: 160px;
    height: 280px;
    right: 1180px;
    bottom: 50px;
    object-fit: cover;
  }