.home-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
.video-player-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   }
  .selectedCharacter img{
    position: relative;
    width: 200px;
    height: 180px;
    right: -800px;
    bottom: -360px;
    object-fit: cover;
    border-radius: 50%;
  }