.map-container {
  position: absolute;
  z-index: -1;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0px;
  width: 130%;
  height: 130%;
  background-image: url('/Users/minsungwoo/Desktop/학교/YBIGTA/여행어디로/YBIGTOUR/src/icons/worldmap.png');
  background-size: contain; /* Adjust the background size */
  background-size: 50%; /* Adjust the background size */
  background-repeat: no-repeat;  
  background-position: center;
  background-color: #F6EDD6;
}


.marker {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}


.marker-icon {
  width: 64px; /* Increase the size of the marker icon */
  height: 64px; /* Increase the size of the marker icon */
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -1px; /* Reduce the spacing between the popup and the image */
  margin-top: -1px; /* Reduce the spacing between the popup and the image */
}

.popup-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 1%;
  margin-bottom: -20px;
  margin-top: 10px;
  margin-left: -10px;
  margin-right: -10px;
}

.popup-text {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 1px; /* Reduce the spacing between the popup and the image */
}
.where{
  position: relative;
  z-index: 10;
}